/* Chrome, Safari, Edge, Opera */
input.disab::-webkit-outer-spin-button,
input.disab::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input.disab[type=number] {
    -moz-appearance: textfield;
}